<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WebSocket</title>
    <script type="text/javascript" src="jquery-3.4.1.min.js"></script>
</head>
<body>
<div id="welcome"></div>
<hr/>
<button onclick="openWebSocket()">开启WebSocket连接</button>&nbsp;&nbsp;
<button onclick="closeWebSocket()">关闭WebSocket连接</button>
<hr/>
<label for="msg">新消息: </label><input id="msg" type="text"/>
<button onclick="send()">发送消息</button>
<hr/>
<div id="message"></div>
</body>
<script type="text/javascript">
    //随机id
    let id = ("000" + Math.floor(Math.random() * 10000)).slice(-4);

    //由相对地址转换为绝对地址
    let addr = new URL("/websocket/" + id, window.location.href);
    addr.protocol = addr.protocol.replace("http", "ws");
    const url = addr.href;

    //初始化
    $(function () {
        document.getElementById('welcome').innerHTML = "Welcome to anonymous chatting room!&nbsp;&nbsp;[" + id + "]" + '<br/>';
        openWebSocket();
    });

    let websocket = null;

    //开启WebSocket
    function openWebSocket() {
        //判断当前浏览器是否支持WebSocket
        if ('WebSocket' in window) {
            if (websocket == null) {
                websocket = new WebSocket(url);
            } else {
                alert("WebSocket连接已开启");
                return;
            }

            //连接发生错误的回调方法
            websocket.onerror = function () {
                setMessageInnerHTML("WebSocket连接错误");
            };

            //连接成功建立的回调方法
            websocket.onopen = function () {
                setMessageInnerHTML("WebSocket连接开启");
            };

            //接收到消息的回调方法
            websocket.onmessage = function (event) {
                console.log(event);
                setMessageInnerHTML(event.data);
            };

            //连接关闭的回调方法
            websocket.onclose = function () {
                setMessageInnerHTML("WebSocket连接关闭");
            };
        } else {
            alert('当前浏览器不支持Websocket');
        }
    }

    //将消息显示在网页上
    function setMessageInnerHTML(text) {
        let date = new Date().format("yyyy-MM-dd hh:mm:ss");
        document.getElementById('message').innerHTML += date + '<br/>' + text + '<br/><br/>';
    }

    //关闭WebSocket连接
    function closeWebSocket() {
        if (websocket != null) {
            websocket.close();
            websocket = null;
        }
    }

    //发送消息
    function send() {
        if (websocket != null) {
            let message = document.getElementById('msg').value;
            if (message) websocket.send(message);
            document.getElementById('msg').value = "";
        }
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        closeWebSocket();
    };

    //日期格式化原型方法
    Date.prototype.format = function (fmt) {
        let o = {
            "M+": this.getMonth() + 1,                  //月份
            "d+": this.getDate(),                       //日
            "h+": this.getHours(),                      //小时
            "m+": this.getMinutes(),                    //分
            "s+": this.getSeconds(),                    //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()                 //毫秒
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (let k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    };
</script>
</html>